<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :schedule_year %>
  </div>

  <div class="field">
    <%= form.label :start_registration %>
    <%= form.date_select :start_registration, id: :schedule_start_registration %>
  </div>

  <div class="field">
    <%= form.label :end_registration %>
    <%= form.date_select :end_registration, id: :schedule_end_registration %>
  </div>

  <div class="field">
    <%= form.label :start_central_selection %>
    <%= form.date_select :start_central_selection, id: :schedule_start_central_selection %>
  </div>

  <div class="field">
    <%= form.label :start_consulate_selection %>
    <%= form.date_select :start_consulate_selection, id: :schedule_start_consulate_selection %>
  </div>

  <div class="field">
    <%= form.label :end_consulate_selection %>
    <%= form.date_select :end_consulate_selection, id: :schedule_end_consulate_selection %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
