<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @schedule.year %>
</p>

<p>
  <strong>Start registration:</strong>
  <%= @schedule.start_registration %>
</p>

<p>
  <strong>End registration:</strong>
  <%= @schedule.end_registration %>
</p>

<p>
  <strong>Start central selection:</strong>
  <%= @schedule.start_central_selection %>
</p>

<p>
  <strong>Start consulate selection:</strong>
  <%= @schedule.start_consulate_selection %>
</p>

<p>
  <strong>End consulate selection:</strong>
  <%= @schedule.end_consulate_selection %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
