        <div class="row clearfix">
            <div class="col-md-4">
              <div class="thumbnail">
                <a data-fancybox="gallery" href="<%= @user.avatar.url if @user.avatar %>" data-caption="Profile"> <img src="<%= @user.avatar.path ? asset_path(@user.avatar.url) : asset_path('dummyuser')%>" alt="" class="img-responsive"></a>
              </div>
              
              <div class="card">
                  <div class="header">
                      <h2>
                          <%= @user.name.titlecase %> | <%= @user.id_reg %>
                      </h2>
                  </div>
                  <div class="body">
                      <div class="table-responsive">
                          <table class="table table-hover table-striped dashboard-task-infos">
                              <tbody>
                              <tr>
                                <td>Status Pendaftaran</td>
                                <td><%= @user.status %></td>
                              </tr>
                              <tr>
                                <td>Status Akun</td>
                                <td><%= @user.status_akun %></td>
                              </tr>
                              <tr>
                                <td>Status Profile</td>
                                <td><%= @user.lock ? "Dikunci" : "Tidak Dikunci" %></td>
                              </tr>
                              <tr>
                              <tr>
                                <td>Status Kiriman</td>
                                <td><%= show( @user.lock ? "Dikirim" : "Belum Dikirim") %></td>
                              </tr>
                              <tr>
                                <td>No Registrasi</td>
                                <td><%= @user.id_reg %></td>
                              </tr>
                              <tr>
                                <td>Nama</td>
                                <td><%= @user.name.titlecase %></td>
                              </tr>
                              <tr>
                                <td>Jenis Kelamin</td>
                                <td><%= @user.gender_print %></td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td><%= @user.email %></td>
                              </tr>
                              <tr>
                                <td>Profesi</td>
                                <td><%= @user.profession %></td>
                              </tr>
                              <tr>
                                <td>Tanggal lahir</td>
                                <% dob = @user.dob ? I18n.l(@user.dob, format: :long) : ""  %>
                                <td><%= show( dob )  %></td>
                              </tr>
                              <tr>
                                <td>Usia</td>
                                <td><%= show(@user.counting_age) %></td>
                              </tr>
                              <tr>
                                <td>No Passport</td>
                                <td><%= @user.passport %></td>
                              </tr>
                              <tr>
                                <td>Tanggal  Expire Passport</td>
                                <td><%= @user.passport_expire %></td>
                              </tr>
                              <tr>
                                <td>Negara Asal</td>
                                <td><%= @user.country.name.titlecase %></td>
                              </tr>
                              <tr>
                                <td>KBRI/KJRI Tempat Perlombaan</td>
                                <td><%= @user.admin.name.titlecase %></td>
                              </tr>
                              <% if @user.to_indonesias.present?  %>
                                <% @user.to_indonesias.each do |dest| %>
                                  <tr class="bold">
                                    <td>Tujuan ke Indonesia</td>
                                    <td><%= dest.destination.titlecase %>, <%= dest.long %> <%= dest.unit.titlecase %></td>
                                  </tr>
                                <% end %>
                                <% else %>
                                <tr>
                                  <td>Pernah ke Indonesia</td>
                                  <td><%=show("")%></td>
                                </tr>
                              <% end %>
                              <tr>
                                <td>ID Skype</td>
                                <td><%= @user.skype_id%></td>
                              </tr>
                              <tr>
                                <td>Jenis Lomba</td>
                                <td><%= @user.score.kind ? @user.score.kind.titlecase : show(@user.score.kind)  %></td>
                              </tr>
                              <% if @user.bipa_courses.present?  %>
                                <% @user.bipa_courses.each do |course| %>
                                  <tr class="bold">
                                    <td>Kursus BIPA</td>
                                    <td><%= course.location.titlecase %>, <%= course.long %> <%= course.unit.titlecase %></td>
                                  </tr>
                                <% end %>
                              <% else %>
                                <tr>
                                  <td>Pernah Kursus BIPA</td>
                                  <td><%=show("")%></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        <div class="action-user-users m-b-15">
                          
                          <% if @user.confirmed? %>
                            <a href="#x" class="disabled btn bg-blue waves-effect">Aktivasi</a>
                          <% else %>
                            <a href="<%= confirm_admins_dashboard_path(@user) %>" class="btn bg-blue waves-effect">Aktivasi</a>
                          <% end %>

                          <% if @user.lock %>
                            <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                                <%= f.hidden_field :lock, value:false %>
                                <%= f.submit "Buka Kunci", class:"btn bg-blue waves-effect" %>
                            <% end %>
                            <% else %>
                            <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                                <%= f.hidden_field :lock, value:true %>
                                <%= f.submit "Kunci Profile", class:"btn bg-blue waves-effect" %>
                            <% end %>
                          <% end %>

                          <%= link_to "Hapus", admins_dashboard_path(@user), class:"btn bg-blue waves-effect", data:{confirm:"Kamu Yakin ingin menghapusnya"}, method: :delete %>

                          <% if @user.win %>
                            <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                                <%= f.hidden_field :win, value:false %>
                                <%= f.submit "Kalah", class:"btn bg-blue waves-effect" %>
                            <% end %>
                            <% else %>
                            <%= form_for(@user, url: update_user_admins_dashboard_path) do |f| %>
                                <%= f.hidden_field :win, value:true %>
                                <%= f.submit "Menang", class:"btn bg-blue waves-effect" %>
                            <% end %>
                          <% end %>
                          
                        
                        </div>

                        <div class="">
                          <% if @user.passport_image.path %>
                            <%= link_to "Download Passport", @user.passport_image.url, class: "btn bg-blue waves-effect m-b-15", download: "Passport-#{@user.id_reg}" %>
                          <% else %>
                            <%= link_to "Download Passport", '', class: "disabled btn bg-blue waves-effect m-b-15", download: "Passport-#{@user.id_reg}" %>
                          <% end %>
                        
                          <% if @user.avatar.path %>
                            <%= link_to "Download Foto", @user.avatar.url, class: "btn bg-blue waves-effect m-b-15", download: "Foto-#{@user.id_reg}" %>
                          <% else %>
                            <%= link_to "Download Foto", "", class: "disabled btn bg-blue waves-effect m-b-15", download: "Foto-#{@user.id_reg}" %>
                          <% end %>
                          
                          
                          <% if @user.confirmation%>
                            <%= link_to "Download Naskah", @user.confirmation.script.url, class: "btn bg-blue waves-effect", download: "Naskah-#{@user.id_reg}" %>
                          <% else %>
                            <%= link_to "Download Naskah", "", class: "disabled btn bg-blue waves-effect", download: "Naskah-#{@user.id_reg}" %>
                          <% end %>
                        </div>
                      </div>

                  
                  </div>

              </div>

            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Pilih Lomba
                        </h2>
                    </div>
                    <div class="body">
                      <%= form_for(@score) do |f| %>
                        <div class="form-group">
                            <%= f.radio_button :kind, "pidato", required:true, id:"pidato", class: "with-gap" %>
                              <%= label :pidato, "Pidato", for:"pidato" %>
                            <%= f.radio_button :kind, "bercerita", id:"bercerita", required:true  , class: "with-gap" %>
                              <%= label :bercerita, "Bercerita", for:"bercerita" %>
                        </div>
                        <%= f.submit "Simpan", class:"btn bg-blue waves-effect" %>
                      <% end %>
                    </div>
                </div>
                
                <%# if @score.kind %>
                  <%= form_for @score do |f| %>
                    <%= f.hidden_field :scoring, value:true %>
                    <% if @user.score.pidato? %>
                      <div class="card">
                        <div class="header">
                            <h2>
                                Penilaian Pidato
                            </h2>
                        </div>

                        <div class="body">
                        
                          <%= f.hidden_field :kind, value:"pidato" %>
                          <div class="form-group form-float">
                              <div class="form-line">
                                  <%= f.number_field :bahasa, class:"form-control", min:"0", max:"15", required:true  %>
                                  <label class="form-label">Ketepatan tata bahasa <span class="col-pink">(max 15)</span></label>
                              </div>
                          </div>
                          <!-- <div class="form-group form-float">
                              <div class="form-line">
                                  <input type="number" min="0" max="10" class="form-control" name="name" required>
                                  <%#= f.number_field :interlude, class:"form-control", min:"0", max:"10", required:true  %>
                                  <label class="form-label">Jeda <span class="col-pink">(max 10)</span></label>
                              </div>
                          </div> -->
                          <%= render partial: "shared/form_score", locals: { f:f } %>
                          <%= f.submit "Simpan", class:"btn bg-blue waves-effect" %>
                        </div>
                      </div>
                    <% elsif @user.score.bercerita? %>
                      <div class="card">
                        <div class="header">
                            <h2>
                                Penilaian Bercerita
                            </h2>
                        </div>
                        <div class="body">
                          <%= f.hidden_field :kind, value:"bercerita" %>

                          <!-- <div class="form-group form-float">
                              <div class="form-line">
                                  <%#= f.number_field :media, class:"form-control", min:"0", max:"10", required:true  %>
                                  <label class="form-label">Media/alat bantu <span class="col-pink">(max 10)</span></label>
                              </div>
                          </div> -->
                          <%= render partial: "shared/form_score", locals: { f:f } %>

                          <%= f.submit "Simpan", class:"btn bg-blue waves-effect" %>
                        </div>
                      </div>
                    <% end %>
                  <% end %><!-- FORM -->
                <%# end %>
            </div>
        </div>