<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
  <div class="thumbnail">
    <a data-fancybox="gallery" href="<%= @user.avatar.url %>" data-caption="Profile"> <img src="<%= @user.avatar.path ? asset_path(@user.avatar.url) : asset_path('dummyuser')%>" alt="" class="img-responsive"></a>
  </div>
  <div class="card">
    <div class="header">
      <h2>Profile</h2>
    </div>
    <div class="body">
      <div class="table-responsive">
        <table class="table table-hover table-striped dashboard-task-infos">
          <tr>
            <td>Status</td>
            <td><%= @user.status %></td>
          </tr>
          <tr>
            <td>Nama</td>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <td>No Registrasi</td>
            <td><%= @user.id_reg %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= @user.email %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <%= render "shared/schedule" %>
</div>