<%= form_with(model: bipa_course, local: true) do |form| %>
  <% if bipa_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bipa_course.errors.count, "error") %> prohibited this bipa_course from being saved:</h2>

      <ul>
      <% bipa_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :bipa_course_location %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.number_field :long, id: :bipa_course_long %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.number_field :unit, id: :bipa_course_unit %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :bipa_course_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
