<p id="notice"><%= notice %></p>

<h1>Bipa Courses</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Long</th>
      <th>Unit</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bipa_courses.each do |bipa_course| %>
      <tr>
        <td><%= bipa_course.location %></td>
        <td><%= bipa_course.long %></td>
        <td><%= bipa_course.unit %></td>
        <td><%= bipa_course.user %></td>
        <td><%= link_to 'Show', bipa_course %></td>
        <td><%= link_to 'Edit', edit_bipa_course_path(bipa_course) %></td>
        <td><%= link_to 'Destroy', bipa_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bipa Course', new_bipa_course_path %>
