<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @to_indonesium.destination %>
</p>

<p>
  <strong>Long:</strong>
  <%= @to_indonesium.long %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @to_indonesium.unit %>
</p>

<p>
  <strong>User:</strong>
  <%= @to_indonesium.user %>
</p>

<%= link_to 'Edit', edit_to_indonesium_path(@to_indonesium) %> |
<%= link_to 'Back', to_indonesia_path %>
