<p id="notice"><%= notice %></p>

<p>
  <strong>Flight arrival number:</strong>
  <%= @confirmation.flight_arrival_number %>
</p>

<p>
  <strong>Flight arrival date:</strong>
  <%= @confirmation.flight_arrival_date %>
</p>

<p>
  <strong>Flight arrival hours:</strong>
  <%= @confirmation.flight_arrival_hours %>
</p>

<p>
  <strong>Flight return number:</strong>
  <%= @confirmation.flight_return_number %>
</p>

<p>
  <strong>Date of return flight:</strong>
  <%= @confirmation.date_of_return_flight %>
</p>

<p>
  <strong>Return flight hours:</strong>
  <%= @confirmation.return_flight_hours %>
</p>

<p>
  <strong>Hijab:</strong>
  <%= @confirmation.hijab %>
</p>

<p>
  <strong>Dress size:</strong>
  <%= @confirmation.dress_size %>
</p>

<p>
  <strong>Script:</strong>
  <%= @confirmation.script %>
</p>

<p>
  <strong>Arrival ticket:</strong>
  <%= @confirmation.arrival_ticket %>
</p>

<p>
  <strong>Return ticket:</strong>
  <%= @confirmation.return_ticket %>
</p>

<p>
  <strong>User:</strong>
  <%= @confirmation.user %>
</p>

<%= link_to 'Edit', edit_confirmation_path(@confirmation) %> |
<%= link_to 'Back', confirmations_path %>
