 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                SEMUA PESERTA
            </h2>
        </div>
        <div class="body">
            <% if @users.present? %>  
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-data-table-export">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th class="hide" >No Registrasi</th>
                                <th class="hide" >No Passport</th>
                                <th class="hide" >Masa Aktif Passport</th>
                                <th>Nama</th>
                                <th class="hide">Usia</th>
                                <th class="hide">Email</th>
                                <th class="hide">No Tlp</th>
                                <th class="hide">Ke Indonesia</th>
                                <th class="hide">Kursus BIPA</th>
                                <th class="hide">ID Skype</th>
                                <th>Jenis Lomba</th>
                                <th class="hide">Skor</th>
                                <th>Negara</th>
                                <th>KBRI/KJRI</th>
                                <th>Status Kiriman</th>
                                <th>Kelulusan</th>
                                <th>Tahun</th>
                                
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th class="hide" >No Registrasi</th>
                                <th class="hide" >No Passport</th>
                                <th class="hide" >Masa Aktif Passport</th>
                                <th>Nama</th>
                                <th class="hide">Usia</th>
                                <th class="hide">Email</th>
                                <th class="hide">No Tlp</th>
                                <th class="hide">Ke Indonesia</th>
                                <th class="hide">Kursus BIPA</th>
                                <th class="hide">ID Skype</th>
                                <th>Jenis Lomba</th>
                                <th class="hide">Skor</th>
                                <th>Negara</th>
                                <th>KBRI/KJRI</th>
                                <th>Status Kiriman</th>
                                <th>Kelulusan</th>
                                <th>Tahun</th>
                                
                                <th>Aksi</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% @users.each_with_index do |user, index| %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td class="hide"> <%= user.id_reg %></td>
                                    <td class="hide"> <%= user.passport %></td>
                                    <td class="hide"> <%= user.passport_expire %></td>
                                    <td><%= user.name %></td>
                                    <td class="hide"> <%= user.counting_age %></td>
                                    <td class="hide"> <%= user.email %></td>
                                    <td class="hide"> <%= user.phone %></td>
                                    <td class="hide"><%= user.to_indonesias.map{|d| [d.destination, d.long, d.unit]}.flatten.to_sentence(last_word_connector:",") if user.to_indonesias
                                     %></td>
                                    <td class="hide"><%= user.bipa_courses.map{|d| [d.location, d.long, d.unit]}.flatten.to_sentence(last_word_connector:",") if user.bipa_courses %></td>
                                    <td class="hide"><%= user.skype_id %></td>
                                    <td><%= show(user.score.kind) %></td>
                                    <td class="hide">
                                        <% score = user.score %>
                                        <% if score  %>

                                            <% if score.kind.eql?"bercerita"  %>
                                                <table class="hide">
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Isi</td>
                                                        <td class="hide"><%= score.content %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Alur</td>
                                                        <td class="hide"><%= score.plot %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Kelancaran</td>
                                                        <td class="hide"><%= score.fluency %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Gestur</td>
                                                        <td class="hide"><%= score.gesture %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Suara</td>
                                                        <td class="hide"><%= score.sound %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Durasi</td>
                                                        <td class="hide"><%= score.duration %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Penampilan</td>
                                                        <td class="hide"><%= score.showing %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Media</td>
                                                        <td class="hide"><%= score.media %></td>
                                                   </tr>
                                                   <tr class="hide" width="100">
                                                        <td class="hide">Catatan</td>
                                                        <td class="hide"><%= score.note %></td>
                                                   </tr>
                                                </table>
                                            <% else %>

                                            <% end %>
                                        <% end %>
                                    </td>

                                    <td><%= show(user.country.name) %></td>
                                    <td><%= show(user.consulate.name) %></td>
                                    <td><%= show( user.complete.present? ? "Dikirim" : "Belum Dikirim" ) %></td>
                                    <td><%= show(user.win) %></td>
                                    <td><%= user.year %></td>
                                    <td>
                                        <a href="<%= admins_dashboard_path(user.id) %>" class="btn bg-blue waves-effect" target="blank">Tampilkan</a>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% else %>
            <h4 class="text-center">Tidak ada hasil</h4>
            <% end %>
        </div>
    </div>
</div>