 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
        <div class="header">
            <h2>
                SEMUA PESERTA
            </h2>
        </div>
        <div class="body">
            <% if @users.present? %>  
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover js-data-table-export">
                        <thead>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2" class="hide" >No Registrasi</th>
                                <th rowspan="2" class="hide" >No Passport</th>
                                <th rowspan="2" class="hide" >Masa Aktif Passport</th>
                                <th rowspan="2">Nama</th>
                                <th rowspan="2" class="hide">Usia</th>
                                <th rowspan="2" class="hide">Email</th>
                                <th rowspan="2" class="hide">No HP</th>
                                <th rowspan="2">Negara</th>
                                <th rowspan="2">KBRI/KJRI</th>
                                <th rowspan="2" class="hide">Kunjungan Ke Indonesia</th>
                                <th rowspan="2" class="hide">Kursus BIPA</th>
                                <th rowspan="2" class="hide">ID Skype</th>
                                <th rowspan="2">Jenis Lomba</th>
                                <th colspan="9" rowspan="1" class="hide">Skor Pidato</th>
                                <th colspan="8" rowspan="1" class="hide">Skor Bercerita</th>
                                <th rowspan="2" class="hide"  >Catatan</th>
                                <th rowspan="2" class="not-export-col">Status Kiriman</th>
                                <th rowspan="2" class="not-export-col">Kelulusan</th>
                                <th rowspan="2" class="not-export-col">Tahun</th>
                                
                                <th rowspan="2" class="not-export-col">Aksi</th>
                            </tr>
                            <tr>
                                <th class="hide">Struktur</th>
                                <th class="hide">Isi</th>
                                <th class="hide">Ketepatan</th>
                                <th class="hide">Kelancaran</th>
                                <th class="hide">Penampilan</th>
                                <th class="hide">Media</th>
                                <th class="hide">Gestur</th>
                                <th class="hide">Suara</th>
                                <th class="hide">Durasi</th>

                                <th class="hide">Struktur</th>
                                <th class="hide">Isi</th>
                                <th class="hide">Kelancaran</th>
                                <th class="hide">Penampilan</th>
                                <th class="hide">Media</th>
                                <th class="hide">Gestur</th>
                                <th class="hide">Suara</th>
                                <th class="hide">Durasi</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="2">No</th>
                                <th rowspan="2" class="hide" >No Registrasi</th>
                                <th rowspan="2" class="hide" >No Passport</th>
                                <th rowspan="2" class="hide" >Masa Aktif Passport</th>
                                <th rowspan="2">Nama</th>
                                <th rowspan="2" class="hide">Usia</th>
                                <th rowspan="2" class="hide">Email</th>
                                <th rowspan="2" class="hide">No HP</th>
                                <th rowspan="2">Negara</th>
                                <th rowspan="2">KBRI/KJRI</th>
                                <th rowspan="2" class="hide">Kunjungan Ke Indonesia</th>
                                <th rowspan="2" class="hide">Kursus BIPA</th>
                                <th rowspan="2" class="hide">ID Skype</th>
                                <th rowspan="2">Jenis Lomba</th>
                                <th colspan="9" rowspan="1" class="hide">Skor Pidato</th>
                                <th colspan="8" rowspan="1" class="hide">Skor Bercerita</th>
                                <th rowspan="2" class="hide"  >Catatan</th>
                                <th rowspan="2">Status Kiriman</th>
                                <th rowspan="2">Kelulusan</th>
                                <th rowspan="2">Tahun</th>
                                <th rowspan="2">Aksi</th>
                            </tr>
                            <tr>
                                <th class="hide">Struktur</th>
                                <th class="hide">Isi</th>
                                <th class="hide">Ketepatan</th>
                                <th class="hide">Kelancaran</th>
                                <th class="hide">Penampilan</th>
                                <th class="hide">Media</th>
                                <th class="hide">Gestur</th>
                                <th class="hide">Suara</th>
                                <th class="hide">Durasi</th>

                                <th class="hide">Struktur</th>
                                <th class="hide">Isi</th>
                                <th class="hide">Kelancaran</th>
                                <th class="hide">Penampilan</th>
                                <th class="hide">Media</th>
                                <th class="hide">Gestur</th>
                                <th class="hide">Suara</th>
                                <th class="hide">Durasi</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            <% @users.each_with_index do |user, index| %>
                                <tr>
                                    <td><%= index+1 %></td>
                                    <td class="hide"> <%= user.id_reg %></td>
                                    <td class="hide"> <%= user.passport %></td>
                                    <td class="hide"> <%= user.passport_expire %></td>
                                    <td><%= user.name %></td>
                                    <td class="hide"> <%= user.counting_age rescue nil %></td>
                                    <td class="hide"> <%= user.email %></td>
                                    <td class="hide"> <%= user.phone %></td>
                                    <td><%= show(user.country.name) %></td>
                                    <td><%= show(user.consulate.name) %></td>
                                    <td class="hide"><%= user.to_indonesias.count if user.to_indonesias
                                     %></td>
                                    <td class="hide"><%= user.bipa_courses.count if user.bipa_courses %></td>
                                    <td class="hide"><%= user.skype_id %></td>
                                    <% kind = user.score ? user.score.kind : "" %>
                                    <td><%= show(kind) %></td>
                                    <% score = user.score %>
                                    <% if score  %>
                                        <% if score.kind == "pidato"  %>
                                            <td class="hide"><%= score.plot %></td>
                                            <td class="hide"><%= score.content %></td>
                                            <td class="hide"><%= score.bahasa %></td>
                                            <td class="hide"><%= score.fluency %></td>
                                            <td class="hide"><%= score.showing %></td>
                                            <td class="hide"><%= score.media %></td>
                                            <td class="hide"><%= score.gesture %></td>
                                            <td class="hide"><%= score.sound %></td>
                                            <td class="hide"><%= score.duration %></td>
                                            <!-- <td colspan="8" class="hide"></td> -->
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                        <% else %>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <!-- <td colspan="9" class="hide"></td> -->
                                            <td class="hide"><%= score.plot %></td>
                                            <td class="hide"><%= score.content %></td>
                                            <td class="hide"><%= score.fluency %></td>
                                            <td class="hide"><%= score.showing %></td>
                                            <td class="hide"><%= score.media %></td>
                                            <td class="hide"><%= score.gesture %></td>
                                            <td class="hide"><%= score.sound %></td>
                                            <td class="hide"><%= score.duration %></td>
                                        <% end %>
                                        <td class="hide" ><%= score.note %></td>
                                    <% else %>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                            <td class="hide"></td>
                                        <!-- <td colspan="17" class="hide"></td>                                           -->
                                    <% end %>
                                    <td><%= show( user.complete.present? ? "Dikirim" : "Belum Dikirim" ) %></td>
                                    <td><%= show(user.win) %></td>
                                    <td><%= user.year rescue nil %></td>
                                    <td>
                                        <a href="<%= admins_dashboard_path(user.id) %>" class="btn bg-blue waves-effect" target="blank">Tampilkan</a>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% else %>
            <h4 class="text-center">Tidak ada hasil</h4>
            <% end %>
        </div>
    </div>
</div>