<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    TAMBAH KBRI/KJRI
                </h2>
            </div>
            <div class="body">
            <%= form_for(@consulate, url: path) do |f| %>
                <%= f.hidden_field :role, value:"consulate" %>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :username, class:"form-control", required:true %>
                        <label for="" class="form-label">Username</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.password_field :password, class:"form-control", required:true %>
                        <label for="" class="form-label">Password</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.password_field :password_confirmation, class:"form-control", required:true %>
                        <label for="" class="form-label">Konfirmasi Password</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_field :name, class:"form-control", required:true %>
                        <label for="" class="form-label">Nama</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group form-float">
                        <div class="form-line">
                            <%= select("admin", "country_ids", Country.all.collect {|c| [ c.name, c.id, { selected:
                                if action == "edit" and @consulate.country_ids.include? c.id
                                    true
                                else
                                    false
                                end
                            } ] }, {include_blank:false}, class:"form-control form-control--z-5 show-tick", required:true, multiple:true, "data-live-search": true, "data-title":"Pilih Negara") %>
                        </div>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_area :email, class:"form-control" %>
                        <label for="" class="form-label">Email</label>
                        
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <%= f.text_area :contact, class:"form-control" %>
                        <label for="" class="form-label">Kontak</label>
                    </div>
                </div>
                <%= f.submit "Simpan", class:"btn btn-primary waves-effect" %>
            <% end %>
            </div>
        </div>
    </div>
</div><!-- ROW -->