<!DOCTYPE html>
<html>
  <head>
    <title>Aplp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  </head>

  <!-- <body class="theme-indigo"> admin-->
  <body class="theme-blue <%= @body_class %>">
		
		<!-- Page Loader -->
		<div class="page-loader-wrapper">
		    <div class="loader">
		        <div class="preloader">
		            <div class="spinner-layer pl-red">
		                <div class="circle-clipper left">
		                    <div class="circle"></div>
		                </div>
		                <div class="circle-clipper right">
		                    <div class="circle"></div>
		                </div>
		            </div>
		        </div>
		        <p>Mohon tunggu...</p>
		    </div>
		</div>
		<% if user_signed_in? or admin_signed_in? %>
			
			<div class="overlay"></div>
			<%= render "layouts/navbar" %>

				<% if admin_signed_in? %>
					<%= render "layouts/sidebar" %>
				<% end %>
					
					<%= render  "layouts/flash_messages" %>
		    	<%= yield %>

			<% else %>
					<%= render "layouts/flash_messages" %>
		    	<%= yield %>
		<% end %>
	
	<!-- MODAL -->
	<div class="modal fade" id="fotoModal" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h4 class="modal-title text-center" id="fotoModalLabel">Contoh Foto</h4>
	            </div>
	            <div class="modal-body">
	              <img src="<%= asset_path('pass-foto') %>" alt="" class="img-responsive" style="margin: auto">
	            </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="fotoModalView" tabindex="-1" role="dialog">
	    <div class="modal-dialog modal-view" role="document">
	        <!-- <div class="modal-content"> -->

	            <!-- <div class="modal-body"> -->
	            <!-- </div> -->
	        <!-- </div> -->
	    </div>
	</div>

  </body>
</html>
